.card-wrapper {
  max-width: 400px;
  margin: 3rem auto;
  text-align: center;
}

.card-box {
  padding: 2rem;
  border-radius: 20px;
}

.balance {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.expiration {
  margin-bottom: 1.5rem;
  opacity: 0.7;
}